<drag-scroll>
  <div #map class="w-screen h-screen flex flex-col overflow-visible relative">
    @for (row of baseTileLayer;let rowIndex = $index; track rowIndex) {
    <div class="w-full h-full flex">
      @for (cell of row;let colIndex = $index; track colIndex ) {
      <div [id]="(rowIndex).toString() + (colIndex).toString()" (click)="baseSelected()"
        class=" aspect-square w-[64px] h-[64px] flex items-center justify-center text-black hover:bg-green-200 bg-green-300  relative">
        @if (midTileLayer[rowIndex][colIndex]) {
        <div #cell (click)="entitySelected($event, rowIndex, colIndex)"
          (mouseenter)="mouseEnterContainer(midTileLayer[rowIndex][colIndex], cell)"
          (mouseleave)="mouseLeaveContainer(midTileLayer[rowIndex][colIndex])"
          [style.background-image]="'url(' + midTileLayer[rowIndex][colIndex]?.icon + ')'"
          class="aspect-square w-[64px] h-[64px] flex items-center justify-center text-white absolute z-10">
          <div
            [class]="'pixel-border absolute top-0 right-2 w-[10px] h-[10px] ' + (midTileLayer[rowIndex][colIndex]?.state | stateToColor)">
          </div>
        </div>
        }
      </div>
      }
    </div>
    }
    <svg class="absolute w-screen h-screen z-20 pointer-events-none">
      @for (connection of connections; track $index) {
      <line #conn class="pointer-events-auto" (mouseenter)="mouseEnterConnection(connection,conn)"
        (mouseleave)="mouseLeaveConnection(connection)" [attr.x1]="connection.x1" [attr.y1]="connection.y1"
        stroke-width="4px" [attr.x2]="connection.x2" [attr.y2]="connection.y2"
        [attr.stroke]="connection.isHovered ? 'red' : 'black'" />
      }
    </svg>
    @if(tooltip) {
    <div [style.top]="tooltip.top - 20 + 'px'" [style.left]="tooltip.left - 20 + 'px'"
      class="pixel-border bg-gray-100 p-1 min-w-[100px] z-20 flex justify-center text-zinc-900 absolute">
      <span class="text-xl">{{tooltip.content}}</span>
    </div>
    }
  </div>
</drag-scroll>
<app-command-palette [(isVisible)]="isCommandPaletteVisible"></app-command-palette>
<app-container-dialog [container]="selectedContainer"
  [(isVisible)]="isContainerDialogVisible"></app-container-dialog>