<div [@openClose]="isVisible() ? 'open' : 'closed'"
    class="pixel-border-open-left absolute w-1/4 min-w-[450px]  max-w-[500px] h-[95%] bg-sky-200 z-30">
    <div class="flex flex-col px-5">
        <div class="flex h-10 gap-x-3 mt-5">
            <button (click)="selectState(undefined)" [class.selected]="selectedState() === undefined" class="w-full h-10 pixel-border base-button bg-blue-200 border-blue-500"><span class="text-2xl">All</span></button>
            <button (click)="selectState(states.RUNNING)" [class.selected]="selectedState() === states.RUNNING" class="w-full h-10 pixel-border base-button bg-green-200 border-green-500"><span class="text-2xl">Running</span></button>
            <button (click)="selectState(states.EXITED)" [class.selected]="selectedState() === states.EXITED" class="w-full h-10 pixel-border base-button bg-red-200 border-red-500"><span class="text-2xl">Exited</span></button>
            <button (click)="selectState(states.PAUSED)" [class.selected]="selectedState() === states.PAUSED" class="w-full h-10 pixel-border base-button bg-yellow-200 border-yellow-500"><span class="text-2xl">Paused</span></button>
            <button (click)="selectState(states.DEAD)" [class.selected]="selectedState() === states.DEAD" class="w-full h-10 pixel-border base-button bg-zinc-200 border-zinc-500 "><span class="text-2xl">Dead</span></button>
        </div>            
        <ul class="mt-5">
            @for (container of filteredContainers(); track $index) {
            <li class="h-20 pixel-border justify-between items-center flex px-5">
                <div class="flex flex-col justify-center">
                    <span class="text-2xl">{{container.name}}</span>
                    <span class="text-2xl">image: {{container.image}}</span>
                </div>
                <div
                    [class]="'pixel-border w-[20px] h-[20px] ' + (container.state | stateToColor)">
                </div>
            </li>
            }
        </ul>
    </div>
    <button (click)="toggleVisibility()"
        class="absolute bg-sky-200 pixel-border-custom h-20 w-6 text-3xl -right-6 top-1/2 -translate-y-1/2">
        <span>{{isVisible() ? '<' : '>' }}</span>
    </button>
</div>